
/**{
    margin: 0;
    padding: 0;
}*/
body{
    background: #CCCCCC;
}

h1{
    text-align: center;   
}
p em strong{
    color: #ff0000;
}
#banner{
    width: 100%;
}
.titulo-principaal{
    padding-right: 1050px;
}
.principal{
    background: #CCCCCC ;
    padding: 20px;
}

p{
    text-align: center;
}
#mision{
    font-size: 20px;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}
.titulo-centralizado{
    text-align: center;
}
h2{
    text-align: center;
}
.items{
    font-style:italic;
}
ul{
    display: inline-block;
    vertical-align:top;
    width: 20%;
    margin-right: 15%;

}
.imagenDiferencial{
    width: 50%;

}